* {
  padding: 10px;
  margin: 0px;
}

body {
  font-family: system-ui;
}

nav {
  padding: 1px; 
  margin-bottom: 1px;
  margin-right: 1190px;
  background: #ffffff;
}

ul {
  list-style-type: none;
  
}

li {
  display:flex;
  flex-flow: column;
  margin-right: 30px;
}

a {
  font-style: italic;
  text-decoration: none;
  color: rgb(5, 0, 0);
}

a:hover {
  color: #eee;
}


a:active {
  color: #ec35c5;
}


.imagejar{
  padding: 5px;
  width: 125px;

}

.imageline{
  padding: 1px;
  height: 600px;
  width: 100px;
  position: absolute;
}

.imageline2{
  padding: 1px;
  height: 600px;
  width: 40px;
  position: absolute;
          top: 30px;
          left: 430px;

        }



.create-button {
  box-shadow: 0px 0px 10px -3px #7d8074;
	background-color:transparent;
	border-radius:17px;
	border:1px solid #e0ebd6;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Impact;
	font-size:28px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:-1px 1px 22px #ced9bf;
  position: absolute;
          top: 40px;
          left: 350px;

}

.dashboardjar-button{
  box-shadow: 7px 2px 8px 3px #7d8074;
	background-color:transparent;
	border-radius:17px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:100px 500px;
	text-decoration:none;
	text-shadow:-1px 1px 22px #ced9bf;
  position: absolute;
            top: 50px;
            right:50px
}
.dashboardaccount-button{
  box-shadow: 7px 2px 8px 3px #7d8074;
	background-color:transparent;
	border-radius:17px;
	border:1px solid #e0ebd6;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:100px 200px;
	text-decoration:none;
	text-shadow:-1px 1px 22px #ced9bf;
  position: absolute;
          right: 50px;
}

.dashboardfriends-button{
  box-shadow: 7px 2px 8px 3px #7d8074;
	background-color:transparent;
	border-radius:17px;
	border:1px solid #e0ebd6;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:100px 200px;
	text-decoration:none;
	text-shadow:-1px 1px 22px #ced9bf;
  position: absolute;
          left: 250px
}

.create-input {
    position: absolute;
          top: 110px;
          left: 230px;
}
.loading {
	position: absolute;
			top:10px;
			left:230px;
}
.error {

	position: absolute;
			top:10px;
			left:350px;
}